$tablet: 668px
$tablet-big: 750px
$small-pc: 850px
$pc: 971px
$big-pc: 1050px
$super-pc: 1150px
$mac: 1300px

.post
  height: 100px
  width: 100%
  border-bottom: 2px solid #797979
  color: white
  font-size: 12px
  display: flex
  padding: 10px
  box-sizing: border-box

  .profileDiv
    display: flex
    align-items: center

    img
      border-radius: 100%
      min-width: 50px
      height: 50px

  .info
    padding: 10px
    p
      margin: 0
    .name
      font-size: 15px
      font-weight: bold
      padding-bottom: 2px
    .text
      color: #C5C1C1
    
@media (min-width: $tablet)
  .post
    height: 120px
    max-width: 1024px
    margin: 0 auto
    padding: 20px

    .profileDiv
      img
        height: 90px
        width: 90px
    
    .info
      padding: 20px

      .name
        font-size: 17px
      .text
        font-size: 14px