$tablet: 668px
$tablet-big: 750px
$small-pc: 850px
$pc: 971px
$big-pc: 1050px
$super-pc: 1150px
$mac: 1300px
  
body
  margin: 0
  font-family: 'Roboto', sans-serif

  .background
    background-color: #231F1F

  .userScreen
    display: flex
    padding: 10px
    box-sizing: border-box

    .profile
      border-radius: 100%
      height: 100px
      min-width: 100px
      object-fit: cover
      border: solid 3px white

    .userInfo
      display: flex
      color: white
      justify-content: center
      flex-direction: column
      padding-left: 4%
      padding-right: 4%

      p
        margin: 0
        line-height: 1.5

      .name
        font-weight: bold
        font-size: 20px
      
      .phone
        font-size: 12px

      .description
        display: none

    .imgAvenger
      margin: auto  


      .avenger
        border-radius: 5em
        height: 50px
        width: 50px
        object-fit: cover
        border: solid 2px white

    .editOn
      display: none

  .description
    width: 85%
    margin: 0 auto
    font-size: 12px
    color: white
    text-align: justify

  .edit
    text-align: right
    width: 85%
    margin: 0 auto
    padding: 10px 0
    
    input
      font-size: 12px
      color: white
      border: 1px solid white
      border-radius: 1.5em
      background: transparent
      padding: 5px 20px

      &:focus
        outline: none
    
@media (min-width: $tablet)
  body
    .userScreen
      padding: 20px

      .profile
        height: 200px
        min-width: 200px
      
      .userInfo
        justify-content: flex-start

        .name
          font-size: 40px

        .phone
          font-size: 25px
      
      .imgAvenger
        margin: 0 auto

        .avenger
          height: 93px
          min-width: 93px
        
    .description
      margin: 0
      margin-left: 260px
      margin-top: -15%
      @media (max-width: $tablet-big)
        margin-top: -15%
        width: 50%
      @media (min-width: $small-pc)
        margin-top: -13%
      font-size: 20px
      width: 56%
    
    .edit
      width: 93%
      margin-top: 10px
      input
        font-size: 22px

@media (min-width: $pc)
  body
    .userScreen
      padding: 20px

      .userInfo
        display: flex
        flex-direction: row
        margin-top: 50px
        padding-left: 25px
        flex-grow: 2

        .name 
          font-size: 40px
          padding-right: 10px
        
        .phone
          font-size: 22px
          color: #DFDFDF
          padding-top: 15px
      
      .imgAvenger
        display: flex
        align-items: center
        margin: 0

        .avenger
          min-width: 100px
          height: 100px

    .description
      width: 50%
      margin-top: -11%
      margin-left: 250px
      @media (min-width: $big-pc)
        width: 55%
        margin-top: -9%
      
      @media (min-width: $super-pc)
        width: 60%
      
      @media (min-width: $mac)
        width: 60%
        margin-top: -8%
        
      
    .edit
      margin-top: 25px
      width: 95%

      @media (min-width: $super-pc)
        padding: 25px 0