$tablet: 668px
$tablet-big: 750px
$small-pc: 850px
$pc: 971px
$big-pc: 1050px
$super-pc: 1150px
$mac: 1300px

.frontBackground
  background: rgba(119,118,118,0.5)
  width: 100%
  height: 100%
  position: absolute
  z-index: 3
  top: 0

  .editMode
    background: rgb(35,31,31)

    .userScreen
      display: flex
      box-sizing: border-box
      width: 100%

      .profile
        height: 100px
        border-radius: 100%
        border: solid 3px white
        background: #B7B7B7

        p
          text-align: center
          margin: 0
          line-height: 100px
    
      .userInfo
        width: 40%
        padding-left: 2%
        padding-right: 2%

        .name  
          margin-bottom: 3px
          font-size: 20px
          font-weight: normal

      select
        color: black
        background: white
        padding: 5px 0
        border: none
        
      
    .description
      display: flex
      width: 90%
      margin: 0 auto

      textarea
        font-family: 'Roboto', sans-serif
        font-size: 12px
    
    .buttons
      display: flex
      justify-content: flex-end
      margin-right: 5%
      
      .edit
        padding-left: 10px
        margin: 0
        width: inherit

  .modalBckg
    width: 100%
    height: 100%
    background: rgba(255,255,255,0.8)
    box-sizing: border-box
    color: white
    position: absolute
    z-index: 99
    top: 0

    .modal
      border: 2px solid white
      background: #231F1F
      margin: 50% auto
      width: 80%

      .title
        border-bottom: 1px solid 
        box-sizing: border-box

        p
          text-align: center

      .pics
        padding: 20px 
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        .pic
          border: 1px solid white
          margin: 2px
          margin-bottom: 4px
          img
            width: 70px
            height: 70px
    
@media (min-width: $tablet)
  .frontBackground
    .editMode
      .userScreen
        padding: 20px

        .profile
          height: 250px
          min-width: 250px

          p
            font-size: 20px
            line-height: 250px
        
        .userInfo
          .name
            font-weight: bold
            font-size: 35px
            margin-bottom: 10px
        
        .imgAvenger
          margin: 0

          select
            font-size: 18px
            padding: 10px 0
      
      .description
        width: 60%
        margin-left: 286px
        margin-top: -17%
        @media (max-width: $tablet-big)
          margin-top: -20%
          width: 50%

        textarea
          font-size: 20px

          @media (max-width: $tablet-big)
            font-size: 23px
            height: 195px
      
      .buttons
        margin-right: 3%

        .edit
          padding-left: 10px
          margin: 0
          margin-top: 10px

          input
            font-size: 22px
            width: initial

    .modalBckg
      .modal
        width: 70%
        margin: 40% auto
        
        .title
          font-size: 22px
        
        .pics
          .pic
            margin: 5px
            margin-bottom: 10px

            img
              width: 120px
              height: 120px

@media (min-width: $pc)
  .frontBackground
    .editMode
      .userScreen
        padding: 20px

        .userInfo
          height: 50%
          margin-top: 60px

          .name
            margin-bottom: 0
            margin-right: 5px 
            width: 80%
          
          .phone 
            padding-top: 0
        
        .imgAvenger

      .description
        margin-left: 295px
        margin-top: -16%
        width: 52.3%

        @media (min-width: $big-pc)
          margin-top: -13%
        
        @media (min-width: $super-pc)
          margin-top: -11%
          margin-left: 300px

      .buttons
        margin-right: 2%
        margin-top: 30px

    .modalBckg
      .modal
        width: 50%
        margin: 20% auto
        @media (min-width: $mac)
          width: 40%
          margin: 10% auto
        
        .title
          font-size: 22px
        
        .pics
          .pic
            margin: 5px
            margin-bottom: 15px

            img
              width: 120px
              height: 120px
              @media (min-width: $mac)
                width: 130px
                height: 130px
                